<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Prof.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Prof.Properties.Settings.ProfConnectionString" connectionString="Data Source=176.96.240.77;Initial Catalog=Prof;Persist Security Info=True;User ID=mssqlProf;Password=Profmssql_748159263"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Prof.Properties.Settings>
      <setting name="showNoAllPeople" serializeAs="String">
        <value>False</value>
      </setting>
    </Prof.Properties.Settings>
  </userSettings>
</configuration>